#paginator-settings {
  overflow: hidden;
  padding: 20px 0;
  fieldset {
    float: left;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width:  23%;
    margin:  1%;
    padding: 10px 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    legend {
      position: absolute;
      z-index: 2;
      top: -25px;
      left:  0px;
      margin:  0;
      padding: 0;
    }
  }
  label {
    display: inline-block;
    width: 40%;
    text-align: right;
  }
}

#preview {
  width: 50%;
  margin: 0 auto;
}
